
@{
    ViewBag.Title = "TermsAndConditions";
    Layout = "~/Views/Shared/_Secomdary_Layout.cshtml";
}
<div class="row firm_title">
    <div class="col-xs-9 logo">
        <a href="~/home"><img src="~/Images/logo-all.png" /></a>
    </div>
    <div class="col-xs-3 firm_sidebar">
        <ul class="list-inline firm_sidebar_ul">
            <li><a href="~/News/">Terms and Conditions</a></li>
        </ul>
    </div>
</div>
<div class="termsandConditions">
    <p>By entering into this website, including all of its related tabs and links (collectively, this or our &ldquo;Site&rdquo;) you are agreeing to the following Terms and Conditions, any and all of which may be changed from time to time at our discretion and will be effective when posted.&nbsp; If you do not agree to the Terms and Conditions, you must discontinue using this Site.</p>
    <p>Millstein &amp; Co. is the trade name for Millstein &amp; Co., L.P. and its subsidiaries (together, the &ldquo;Company&rdquo; or &ldquo;Millstein &amp; Co.&rdquo; and first person references), including its registered broker dealer, Millco Advisors, LP. &nbsp;&nbsp;We do not grant any license or right to use any image, trademark, logo or service mark on our Site.&nbsp;&nbsp;&nbsp; This Site is provided for personal, non-commercial use only.&nbsp; You may access this Site and print a single copy of content for your convenience but may not reproduce or distribute it to anyone.&nbsp; If you print more than contact information, you must include this legal notice.&nbsp; In no event, however, may you print or share any third party images, trademarks, logos or service marks which may appear on our Site from time to time.&nbsp; This Site and its contents are copyrighted to the greatest extent permitted by law.</p>
    <p>We provide the information on this Site for your information only.&nbsp; Nothing in this Site is a solicitation, recommendation or offer to buy or sell any securities, futures, options or other financial instruments or products of any person.&nbsp; Nothing in this Site constitutes our advice or opinion.&nbsp; Without limiting the foregoing, we are not tax or legal advisors.&nbsp; Everything on this Site is presented on an &ldquo;AS IS&rdquo;, &ldquo;WHERE IS&rdquo; and &ldquo;WHERE AVAILABLE&rdquo; basis.&nbsp; Millstein &amp; Co. makes no warranty or representation in this Site or about this Site, whether expressly or impliedly, for any particular purpose and we expressly disclaim any implied warranty, including but not limited to warranties of title, non-infringement, merchantability or fitness for a particular purpose.</p>
    <p>Please do not send us any confidential or personal information through this Site or the contact information contained in this Site.&nbsp; If you are inquiring about a position, please limit your communication to non-confidential information until we contact you.&nbsp; None of Millstein &amp; Co., its officers, board of managers, employees or general partners, in each case whether existing, former or future, will have any liability to you for any loss or damages of any kind as a result of your use of this Site, the interception of any communication via this Site by third parties, including any of our vendors, or any viruses or other malfunctions that may occur to your equipment or data as a result of visiting this Site.</p>
    <strong><u>Regulatory notice</u></strong>:
    <p>Millco Advisors, LP, a subsidiary of Millstein &amp; Co., L.P., is a broker dealer registered with the United States Securities and Exchange Commission, regulated by the Financial Industry Regulatory Association (FINRA) and a member of SIPC.&nbsp; We do not hold customer funds or maintain customer accounts, provide research or analyst reports or offer or sell securities retail customers.</p>
    <p>The information and description of services and activities provided on this Site are not provided to and may not be used by any person or entity in any jurisdiction where the provision or use hereof would be contrary to applicable laws, rules or regulations of any governmental authority or regulatory or self-regulatory organization, or which would require us to be licenses or registered, or where Millstein &amp; Co. is not authorized to provide such information or services.</p>
    <strong><u>Business Continuity Disclosure</u></strong>
    <p>Millstein &amp; Co. has a business continuity plan which we believe will enable us to avoid a significant disruption to our business in the event of an emergency.&nbsp; This plan includes redundant backups to preserve data, including at one or more off-site locations, and alternate means of communication.&nbsp; We may modify it from time to time. &nbsp;If we are experiencing emergency conditions and all of our email and phone service has been disrupted, we will post a message to this Site with an alternative mode of communication if possible.&nbsp;</p>
    <p>
        <strong>CUSTOMER COMPLAINT NOTICE DISCLOSURE STATEMENT</strong><br />
        <strong>SEC Rule 17a-3(a)(18)(ii)</strong><br />
        Millco Advisors, LP, in accordance with SEC Rule 17a-3(a)(18)(ii), is furnishing this statement to provide you with a name, telephone number and address, if you ever need to report or notify us of a possible complaint. If, for any reason, you feel you have a complaint, please contact our Chief Compliance Officer, Carmen Woo, immediately by telephone at (212) 416-5800 or by mail at:
    </p>
    <div class="termsandConditions_contactinfo">


        <p>Millco Advisors, LP</p>
        <p>1717 Pennsylvania Ave., NW Suite 333</p>
        <p>Washington, D.C. 20006</p>
        <p>Attn: Compliance Department</p>
    </div>


</div>
