/*@font-face {
    font-family:'';
    src:url('../fonts/.eot');
    src:url('../fonts/.eot?#iefix') format("embedded-opentype"),url('../fonts/.woff2') format("woff2"),url('../fonts/.woff') format("woff"),url('fonts/.ttf') format("truetype"),url('fonts/.svg#robotolight') format("svg");
    font-weight:400;
    font-style:normal;
}
*/
/*
Open Sans
https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans
*/

.outline {
outline:1px solid red;
}
html{
    width: 100%;
    height: 100%;
}
.overflow_none {
    overflow-x: initial;
}
body,html {
    margin:0;
    padding:0;
    overflow-x: hidden;
    font-family: 'Merriweather';
}
/*scroll*/
body {
    background-color: white;
    min-height: 100%;
    height: auto;
}
body::-webkit-scrollbar {
    width:10px
}
body::-webkit-scrollbar * {
    background:transparent
}
body::-webkit-scrollbar-thumb {
    background:#1e1e1e!important
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

h1,h2,h3{
    line-height:1;
    margin-top:0;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
a:focus,a:hover {
    text-decoration:none;
    outline:0
}
p {
    margin-bottom:0
}
img {
    max-width:100%;
    height:auto;
}
.hidden {
    display: none !important;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}

/*mail styles*/
.header {
    background-image: url('../images/slider-img.png');
}
.header_menu {
    background-color: #8d0013;
    top: 0;
    z-index: 999;
    width: 100%;
    margin: 0;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: inherit;
    color: white;
}
.collapse  {
    padding: 0;
}
.navbar {
    min-height: 40px;
}
.navbar-collapse>.nav_link>li>a, .navbar-header>.navbar-brand {
    color: white;
    font-weight: 700;
    font-size: 1em;
}
.navbar-collapse>.nav_link>li>a {
    margin: 10px 15px;
    padding: 0;
}
/*.navbar-collapse>.nav_link>li:first-child>a, .navbar-collapse>.nav_link>li:first-child>a:hover {
    margin-left: 0;
}
.navbar-collapse>.nav_link>li:last-child>a, .navbar-collapse>.nav_link>li:last-child>a:hover {
    margin-right: 0;
}*/
.navbar-collapse>.nav_link>li>a:hover>ul>li>a:hover {
    background-color: inherit !important;
    background-image: none !important;
    color: white;
}
.navbar-collapse>.nav_link>li>a:hover, .navbar-collapse>.nav_link>li>.menu_top_border { 
    border-top: 5px solid rgb(255, 255, 255);
    margin: 0 15px 10px; 
    padding: 5px 0 0;
    color: white;
    background-color: inherit;
    background-image: none;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: rgb(141, 0, 19) !important;
    background-image: none;
}
.dropdown-menu {
    background-color: rgb(141, 0, 19);
}
.dropdown-menu > li > a {
    color: white;
}
.navbar-header>.navbar-brand:hover {
    /*color: white;*/
}
.navbar-header>.navbar-brand>i {
    word-spacing: 5px;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    width: 100%;
    height: 100vh;
    -webkit-filter: grayscale(1);
    /*-webkit-filter: sepia(0.55);*/
}
.backstretch {
    /*-webkit-filter: grayscale(1);*/
}
.logo_home {
    z-index: 99;
    padding: 4% 15px 0;
}
.text_header{
    position: absolute;
    top: 55%;
    color: #8d0013;
    z-index: 100;
    width: 100%;
    text-shadow: rgb(0, 0, 0) 0px 5px 0px, rgb(0, 0, 0) 0px 2px 30px, rgb(0, 0, 0) 0px 2px 30px, rgba(0, 0, 0, 0.80) 0px 2px 50px;
}
.text_header h2 {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 700;
    color: white;
}
.text_header span {
    color: #ffffff;
}
.text_header_news {
    color: #333333;
    background-color: #f4f5f5;
    opacity: .97;
    margin: 1% 0;
}
.text_header_news .news_content, .text_header_news .news_name, .text_header_news .news_date {
    font-size: 1em;
    padding: 2% 0%;
    margin: 0;
    text-align: left;
    color: black;
    line-height: 1.5;
    text-shadow: none;
}
.right_border {
    border-right: 1px solid grey;
}
.text_header_news .news_name {   
    padding: 2.5% 1% 5%;
}
.text_header_news .news_name h1 {
    font-size: 1em;
    font-weight: 700;
    color: #8d0013;
    text-transform: uppercase;
}
.copyright {
    text-align: left;
    position: absolute;
    bottom: -15px;
}
.copyright_secondary {
    position: relative;
    bottom: 0;
    padding: 0.5% 0;
}
.icon_copyright {
    color: white;
    font-size: 0.8em;
}
.copyright>.icon_secondary_copyright {
    color: #8d0013;
}
.carousel-indicators {
    bottom: 0;
}
.navbar-default {
    background-image: none;
    border: none;
    border-radius: 0px;
}
.carousel-caption {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    padding: 20px;
    text-align: center; 
    left: 0;
    right: 0;
 } 
.body-content {
    min-height: 100%;
    height: auto;
    /*margin: 0 auto -35px;
    padding: 0 0 35px;*/
}
.footer {
    /*position: absolute;*/
    position: relative;
    bottom: 0;
    width: 100%;
    height: 35px;
    border-top:1px solid #8d0013;
    /*margin: 0 2%;
    padding: 2%;*/
}
.footer_no_abs {
    position: relative;
}
.footer_abs {
    position: absolute;
}
/*main styles end*/

/*================== Our Firm Page ======================*/
.firm_title {
    padding: 3% 0;
}

.firm_sidebar>.firm_sidebar_ul {
    float: right;
    margin: 0;
    width: 100%;
    text-align: right;
    border-bottom: 1px solid rgb(141, 0, 19);
}
.firm_sidebar>.firm_sidebar_ul a {
    font-size: 2em;
    text-transform: uppercase;
    color: #8d0013;
    font-weight: 600;
}
.firm_image>img{
    /*-webkit-filter: grayscale(1);*/
}
.firm_content_descriprion {
    font-size: 1.5em;
}
.image_desc {
    background-color: #8d0013;
    padding: 4% 5%;
}
.image_desc>p {
    font-size: 2em;
    color: white;
    text-align: center;
}
/*================== Ceo ======================*/
.ceo_name {
    font-size: 2em;
    color: #8d0013;
    font-weight:600;
}
.ceo_name_description {
    font-size: 1em;
    color: #3e3e3e;
    text-transform: uppercase;
    margin: 0 0 5%;
}
.ceo_content_descriprion {
    font-size: 1.1em;
    font-weight: 600;
}
.image_desc_ceo {
    padding: 5%;
    overflow: hidden;
}
.image_desc_ceo>p {
    font-size: 1.4em;
    text-align: left;
}
.image_desc_ceo>span {
    color: white;
}
.ceo_company {
    padding: 5%;
    font-size: 1.5em;
}

/*================== Investment ======================*/
.inv_content {
    font-weight: 600;
}
.investment_title {
    color: #9e0b0f;
    text-transform: uppercase;
    margin: 0;
    font-weight:600;
}
.inv_content_descriprion {
    font-size: 1.1em;
}
.image_desc_inv {
    padding: 7%;
}
.image_desc_inv>p {
    font-size: 1.3em;
    text-align: left;
}
.inv_company_desc {
    font-size: 1.4em;
}


/*================== Advisory ======================*/
 
.adv_content {
    background-color: #ebebeb;
    padding: 4%;
    color: #9e0b0f;
}
.advisory_company {
    padding: 4%;
}
.left_bar_advisory {
    list-style: none;
    float: right;
}
.left_bar_advisory>li>a {
    color: #707070;
    font-style: italic;
    font-weight: 600;
    line-height: 2;
}
.left_bar_advisory>li>.adv_active, .left_bar_advisory .adv_active {
    color: #9e0b0f;
}
.adv_info {
    overflow: hidden;
    position: relative;
    margin: 3% 0;
}
.advisory_img, .advisory_info {
    width: 48%;
}
.advisory_info {
    position: absolute;
    bottom: 20px;
    right: 0;
}
.adv_info_title {
    font-size: 1.1em;
}
.adv_info_content {
    overflow: hidden;
}
.adv_info_content>span {
    text-align: right;
}

/*================== Contact ======================*/

.contact_content {
    padding: 0 3%;
}
.contact_information>h3 {
    color: #9e0b0f;
    font-size: 1.5em;
    text-transform: uppercase;
}
.contact_information>span {
    font-weight: 600;
}

/*================== News ======================*/
.news_title>h2 {
    color: #9e0b0f;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight:600;
}
.news_detail {
    padding: 1% 3%;
    font-weight: 600;
}
.news_detail>h3>a { 
    font-size: 0.7em;
    color: #9e0b0f;
    font-weight: 600;
}
.news_detail>h3 {
    font-size: 1.3em;
    color: #9e0b0f;
    font-weight: 600;
    text-transform: uppercase;
}
.news_detail>h3 {
    margin: 0;
}
.news_detail>.news_archive_span {
    color: #9e0b0f;
    font-size: 1.4em;
}
.news_archive {
    list-style: none;
}
.news_archive>li>a {
    color: #707070;
    line-height: 2;
    font-weight: 600;
}
.news_archive_link {
    color: rgb(51, 51, 51);
}
.website_link {
    color: #9e0b0f;
}







/*.full-screen {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      }*/

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 1280px) {
    .text_header {
        top: 40%;
    }
}


@media only screen and (max-width: 994px) {
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
        height: auto;
    }
    .header_menu {
        position: relative;
    }
    .carousel-content, .text_header, .nav_menu>.left_nav, .icon_copyright {
        display: none;
    }
    .carousel-caption {
        position: relative;
    }
    .icon_copyright {
        color: black;
    }
    .small_appeal {
        padding: 5%;
        color: #8d0013;
    }
    .small_appeal h2 {
        font-size: 1.5em;
        line-height: 1.6;
        font-weight: 700;
    }
    .small_appeal span {
        color: #000;
    }
    .text_header_news {
        margin: 3% 0 5% 0;
        padding: 0;
    }
    .news_name {
        padding: 3% 1% 5%;
    }
    .sm_copyright {
        padding: 5%;
    }
    .text_header_news .news_content, .text_header_news .news_name, .text_header_news .news_date {
        padding: 2% 5% 5% 0;
    }
    .news_name>h1 {
        margin: 1% 0;
    }
    .logo_home {
        /*position: relative;*/
        padding: 5% 15px;
    }

}


@media only screen and (max-width: 768px) {
    .text_header_news {

    }
    .text_header_news .news_content {
        border-right: none;
        border-bottom: 1px solid rgb(128, 128, 128);
    }

}


@media only screen and (max-width: 400px) {
    .small_appeal h2 {
        font-size: 1.1em;
    }    
    .navbar-header>.navbar-brand {
        padding: 5% 2%;
        font-size: 0.9em;
    }
    .text_header_news .news_content, .text_header_news .news_name, .text_header_news .news_date {
        font-size: 0.9em;
    }
    
}


@media only screen and (max-width: 320px) {
    .small_appeal h2 {
        font-size: 0.9em;
    }    
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

     a[href^="#"]:after,
     a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

     thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

   
