@model MilllsteinG1.Areas.Admin.Models.TeamModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Areas/Admin/Views/Shared/_Secomdary_Layout.cshtml";

    ViewBag.AdvisoryActive = "menu_top_border";
}

<div id="returndata">
    @Html.Partial("LoadTeamMember")
</div>

@section scripts{


<link href="~/Content/prettify.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.fr.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
        $(function () {
            
            $('.members').click( function (event) {
            $.ajax({
                type:"Get",
                url: "/advisory/LoadTeamMember/" + $(this).attr("id"),
                success: function (data) {
                    $('#returndata').html(data);
                }   
            });
            event.preventDefault();

            });
        });
        //button slideToggle
        $(document).ready(function (e) {
            $(".advisory_button").click(function () {
                $(".mobile_left_bar_advisory").slideToggle("slow");
                e.preventdefault();
            });
        });
    </script>
}