@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}



<div class="container">
    <div class="row outer-Box" style=" margin-top:20px;">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading"> News</div>
                <div class="panel-body">
                    <div class="form-group">

                        <h2>Index</h2>


                    </div>
                </div>

            </div>

        </div>


    </div>

</div>
