
@{
    ViewBag.Title = "Archive";
    Layout = "~/Views/Shared/_Secomdary_Layout.cshtml";

    ViewBag.NewsActive = "menu_top_border";
}

<div class="row firm_title">
    <div class="col-xs-9 logo">
        <img src="~/Images/logo-all.png" />
    </div>
    <div class="col-xs-3 firm_sidebar">
        <ul class="list-inline firm_sidebar_ul">
            <li><a href="#">News</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-xs-9">
        <div class="news_title">
            <h2>Archive</h2>
        </div>
        <div class="news_detail">
            <h3><a href="#">july 9, 2015</a></h3>
            <span class="news_archive_span">Millstein & Co. Announces a Minority Investment from Stone Point Capital</span><br />
            <p>NEW YORK and WASHINGTON, July 9, 2015 /PRNewswire/ -- Millstein & Co., a diversified financial services firm that specializes in developing and implementing solutions for complex corporate and public finance problems, announced today that it has closed on a minority investment from funds managed by Stone Point Capital LLC, a leading private equity firm focused on investing in financial services businesses.  Millstein & Co. will use proceeds of the investment to bolster its principal investment business.</p><br />
            <p>Jim Millstein, chairman and founder of Millstein & Co., said, "This investment from Stone Point comes at an important stage in the long-term development of Millstein & Co.  I could not imagine a better partner to help us in the build out of our principal investment business.  Stone Point's track record in the financial services industry speaks for itself and we are honored to have them as a partner."</p><br />
            <p>Chuck Davis, CEO of Stone Point, said, "We are excited to be partnering with Jim Millstein and the Millstein & Co. team.  Over a short period of time, Jim has put together a team that is poised to build on his 30-year track record of success in the financial services business.  Highly skilled advisors and asset managers will continue to be in demand in an increasingly complex market and industry landscape.  We believe Millstein & Co. is well positioned for success on all fronts."</p><br />
            <h3>About Millstein & Co.</h3>
            <p>Millstein & Co., founded by Jim Millstein, the former Chief Restructuring Officer at the U.S. Department of the Treasury, is a financial services firm with over 30 professionals in offices in New York and Washington, DC. Millstein & Co.'s advisory group provides independent advice to corporations, institutional investors and governmental clients involved in mergers and acquisitions, restructurings and other special situations. Recent roles have included advising Caesars Entertainment Operating Company in its chapter 11 restructuring and Puerto Rico and its fiscal agent, the Government Development Bank on the management of its $72 billion of institutional indebtedness.  The firm's principal group deploys capital across the capital structure on behalf of and alongside clients. Its professional team includes highly regarded and experienced financial, legal and policy experts.</p><br />
            <h3>About Stone Point Capital LLC</h3>
            <p>Stone Point Capital LLC is a financial services-focused private equity firm based in Greenwich, CT. The firm has raised six private equity funds – the Trident Funds – with aggregate committed capital of approximately $13 billion. In addition to the capital invested by the Trident Funds, Stone Point has secured approximately $7 billion of equity co-investments since 2001. Stone Point targets investments in the global financial services industry, including investments in companies that provide outsourced services to financial institutions, banks and depository institutions, asset management firms, insurance and reinsurance companies, insurance distribution and other insurance-related businesses, specialty lending and other credit opportunities, mortgage services companies and employee benefits and healthcare companies. For further information about Stone Point Capital, see <a class="website_link" href="https://www.stonepoint.com">www.stonepoint.com</a>.</p><br />
            <h3>Contact:</h3>
            <span><a class="news_archive_link" href="#">Jenni Main for Millstein & Co.</a></span><br />
            <span><a class="news_archive_link" href="#">jmain@millsteinandco.com</a></span><br />
            <span><a class="news_archive_link" href="#">202-800-2866</a></span><br /><br />
        </div>
    </div>
    <div class="col-xs-3">
        <ul class="left_bar_advisory">
            <li><a href="~/News">Recemt News</a></li>
            <li><a href="~/News/Archive">Press</a></li>
            <li>
                <a class="adv_active" href="~/News/Archive">
                    Archive
                    <ul class="news_archive">
                        <li><a class="adv_active" href="~/News/Archive">2015</a></li>
                        <li><a href="~/News/Archive">2014</a></li>
                        <li><a href="~/News/Archive">2013</a></li>
                        <li><a href="~/News/Archive">2012</a></li>
                        <li><a href="~/News/Archive">2011</a></li>
                        <li><a href="~/News/Archive">2010</a></li>
                    </ul>
                </a>
            </li>
        </ul>
    </div>
</div>