
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Secomdary_Layout.cshtml";
    ViewBag.activefirmindex = "active";

    ViewBag.FirmActive = "menu_top_border";
    ViewBag.Firmfooter = "on";
}
 


    <div class="row firm_title">
        <div class="col-sm-6 col-xs-12 logo">
            <img src="~/Images/logo-all.png" />
        </div>
        <div class="col-sm-6 col-xs-12 firm_sidebar">
            <ul class="list-inline firm_sidebar_ul">
                <li><a href="#">Our firm</a></li>
            </ul>
        </div>
    </div>
    <div class="row firm_content">
        <div class="col-xs-6 firm_content_descriprion">
            <p>At Millstein & Co. we take a multi-disciplinary approach to problem solving and value creation.  Our professionals bring extensive experience in finance, law, economics and public policy to assess a client’s situation and develop creative, innovative solutions.  We define ourselves as problem solvers in circumstances where easy answers won’t suffice.</p>
            <br />
            <p>We value the pedigree of our diverse team of professionals, but more importantly, we believe that the best ideas emerge from collaboration and teamwork.   As a result, our deal teams are small. Everyone is accountable and responsible for our work, and we count on the engagement and commitment of each team member to the highest ethical and intellectual standards.</p>
        </div>
        <div class="col-xs-6 firm_image">
            <img src="~/Images/firm-1.jpg" />
            <div class="image_desc">
                <p><i>The best ideas emerge from collaboration and teamwork.</i></p>
            </div>
        </div>
    </div>



@*@section scripts{
<script type="text/javascript">
    $(".footer").addClass("footer_abs");
</script>
}*@