<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="MillsteinPlesk_Entities" connectionString="metadata=res://*/Models.MillsteinDB.csdl|res://*/Models.MillsteinDB.ssdl|res://*/Models.MillsteinDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=184.168.194.51;initial catalog=MillsteinPlesk_;persist security info=True;user id=CleverDesign;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><add name="MillsteinDBEntities" connectionString="metadata=res://*/Models.Millstein_Local_DB.csdl|res://*/Models.Millstein_Local_DB.ssdl|res://*/Models.Millstein_Local_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Hazel.arvixe.com;initial catalog=MillsteinDB;persist security info=True;user id=dioscar;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <add name="MillsteinDBEntities" connectionString="metadata=res://*/Models.Millstein_Local_DB.csdl|res://*/Models.Millstein_Local_DB.ssdl|res://*/Models.Millstein_Local_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Hazel.arvixe.com;initial catalog=MillsteinDB;user id=dioscar;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>